<!doctype html>
<html lang="en">
  <% include partials/head.ejs %>
  <body>
    <header role="banner">
      <h1>Convert animated gif to video</h1>
    </header>
    <% include partials/main.ejs %>
  </body>
</html>
